body{
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 120px;
	margin-right: 120px;
	padding: 0;
}

#menu{
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-bottom: 1px solid lightgrey;
	box-shadow:0px 11px 15px -13px rgba(0,0,0,0.75);
;
}
#menu h1{
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	align-self: flex-start;
	padding: 5px;
	background-color: #3DAB9E;
	color: white;
	border-radius: 4px;
}
#menu ul{
	display: flex;
	list-style: none;
}

#menu ul a{
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	color: #474747;
	/*text-transform: uppercase;*/
	margin-right: 30px;
	font-weight: bold;
	letter-spacing: 2px;
}
#menu ul a:hover{
	color: #3DAB9E;
}

#menu ul a:active{
	color: #3DAB9E;
	border: 1px solid grey;
}

#about{
	margin-top: 160px;
	display: flex;
	justify-content: space-around;
}
#information{
	line-height: 20px;
	/*margin-top: 50px;*/
}

#information #heading{
	padding: 15px;
	font-family: 'Roboto', sans-serif;	
	background-color: #4FDCC5;
	color: white;
	border-radius: 15px 15px 15px 0px;
}

#information h1{
	font-family: 'Roboto', sans-serif;	
	letter-spacing: 2px;
	font-size: 50px;
	color: #474747;
}

#information h3{
	font-family: 'Roboto', sans-serif;	
	letter-spacing: 5px;
}
#about-img{
	border-radius: 60%;
	border: 20px solid #EFEFEF; 
}
#about-img img{
	height: 300px;
	width: 300px;
	border-radius: 50%;
	border: 20px solid #D8D8D8;
}

#icons{
	color:  #474747;
	display: flex;
	flex-direction: column;
	font-family: 'Roboto', sans-serif;	
}
#icons>div{
	margin-top: 15px;
}
#icons>div>i{
	padding-right: 10px; 
	color: black;
}

#bottom-icons{

}




#aboutMe{
	width: 80vw;
	height: 100vh;
}
#btm-icon{
	color: black;
}

#aboutMe{
	display: flex;
	/*justify-content: space-around;*/
	/*align-items: center;*/
	/*align-content: center;*/
}
#aboutMe-img{
	align-self: center;
}
#aboutMe-img>img{
	height: 320px;
	width: 540px;
	align-self: center;
}
#aboutMe-text{
	align-self: center;
	margin-left: 40px;
}
#aboutMe-text>h1{
	font-family: 'Roboto', sans-serif;
	color:#474747;
}
#aboutMe-text p{
	font-family: 'Roboto', sans-serif;
	color: #474747;
	line-height: 2em;
}
em{
	margin-top: 10px;
	border: 1px solid #3DAB9E;
	padding: 9px;
	margin: 2px;
	color: #474747;
	font-family: 'Roboto', sans-serif;
	border-radius: 5px;
}

#Contact{
	width: 80vw;
	height: 100vh;
	display: flex;
	justify-content: space-around;
}

#contactForm{
	display: flex;
	flex-direction: column;
}
#ctitle{
	font-family: 'Roboto', sans-serif;
	color:#474747;
}
#cname, #cemail{
	width: 350px;
	height: 50px;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	border: 1px solid lightgrey;
	margin-bottom: 10px;
	border-radius: 5px;
}
#cname:focus, #cemail:focus{
	outline-color: #3DAB9E;
}

#cmessage{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	width: 500px;
	border-radius: 5px;
	border: 1px solid lightgrey;
	margin-bottom: 10px;
}

#cmessage:focus{
	outline-color: #3DAB9E;
}

#cbutton{
	padding: 10px;
	font-size: 16px;
	font-weight: bold;
	background-color: #4FDCC5;
	color: white;
	border: none;
	border-radius: 5px;
	outline: none;
	cursor: pointer;
}
#cbutton:active{
	outline: lightgrey;
}



footer{
	text-align: center;
	background-color: white;
	color:#474747 ;
	box-shadow: -2px -12px 34px -15px rgba(0,0,0,0.75);
	font-family:  'Roboto', sans-serif;
	font-size: 16px;
	font-weight: bold;
	padding: 20px;
	letter-spacing: 5px;
}
